*~
*.pyc
*.swp
*.swo
*.bak
*.egg-info
__pycache__/
.coverage*
!.coveragerc
coverage.xml
.viminfo
.vscode/*
.nyc_output/*
env/
venv/
*.db
.DS_Store
.idea
.vagrant/*
.lock
.local/*
.env
.pytest_cache/v/cache/*
.direnv/*
.envrc
.python-version
